@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;    
    height: 650px !important;
}
.slide1, .bg__img{
    position: absolute;
    width: 100%;
}
/*  cloud bottom */
.cloud__bottom,.cloud_one, .cloud_two, .cloud_three, .cloud_fore {
    position: absolute;
    bottom: -29%;
}
.cloud__bottom .cloud_one{
    animation: cloud1 6s ease infinite;
    width: 1400px;
    left: -60px;
}
.cloud__bottom .cloud_two{
    animation: cloud2 3s ease infinite;
    width: 1400px;
    margin-top: -40px;
    left: -50px;
    opacity: 0.8;
}
.cloud__bottom .cloud_three{
    animation: cloud3 2s ease infinite;
    width: 1400px;
    margin-top: 60px;
    left: 300px;
    opacity: 0.8;
}
.cloud__bottom .cloud_fore{
    animation: cloud2 2s ease infinite;
    width: 1000px;
    margin-top:80px;
    left: 50px;
    opacity: 0.4;
}
@keyframes cloud1{
    50% {  transform:  translate(10px,10px); }
}
@keyframes cloud2{
    50% {  transform:  translateX(10px); }
  }
@keyframes cloud3{
    30%{  transform:  translateY(10px); }
  }

/* cloud width */
.cloud__width,.cloud_width-1{   
    position: absolute;
    display: grid; 
    z-index: 11;
    top:0;
    bottom: 0;
}
.cloud_width-1:nth-child(1){
    width: 200px;
    top: 100px ;
    animation: cloud_from-right 50s infinite linear; 

}
.cloud_width-1:nth-child(2){
    width: 100px;
    top:200px;
    animation: cloud_from-left 30s infinite linear;
}
.cloud_width-1:nth-child(3){
    width: 150px;
    top: 140px;
    left: 1000px;
    animation: cloud_from-left 26s infinite linear; 

}
.cloud_width-1:nth-child(4){
    width: 170px;
    top: 300px;
    animation: cloud_from-right 30s infinite linear; 

}
.cloud_width-1:nth-child(5){
    width: 140px;
    top: 1px;
    animation: cloud_from-left 50s infinite linear;
}
@keyframes cloud_from-left {
  0%{ 
    left: -100px;}
  50%{
    left:1300px;
  }
  100%{
    left: -100px;
  }
}
@keyframes cloud_from-right {
    0%{ 
        left: 1300px;}
    50%{
        left: -100px;
      }
    100%{
        left: 1300px;;
      }
  }
  
  /* lồng đèn  */
.box__lantern{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;
    height: 100%;
    top: -300px;
    flex-basis: 30px;
    justify-content: space-between;
    animation: lantern_move 3s forwards;
    animation-delay: 2s;
    z-index: 100;
}
.box__lantern .lantern-items{
    animation:   lantern_anima  4s infinite linear ;
    transform-origin: top;
    animation-delay: 3s;
}
.lantern-items:nth-child(2){
    margin-right: auto;
}
.lantern-items .lantern-item1{
    width:130px;
    background-image: radial-gradient(circle closest-side at center, rgb(255, 217, 66),rgba(218, 218, 75, 0.3), rgba(231, 97, 97,0));
}
.lantern-items .lantern-item2{
    width:110px;
    background-image: radial-gradient(circle 21px at center, rgb(255, 217, 66),rgba(218, 218, 75, 0.3), rgba(231, 97, 97,0));
}
@keyframes lantern_anima {
    0% {
     transform : rotate(0deg) scale(1);
    }
    25% {
     transform : rotate(10deg) scale(1);
    }
    50% {
        transform : rotate(0deg) scale(1);
       }
    75% {
     transform : rotate(-10deg) scale(1);
    }
    100% {
        transform : rotate(0deg) scale(1);
       }
   }
@keyframes lantern_move{
    0% {
        top: -150px;
        left: 0;
    }
    30% {
        top: -20px;
        left: 0;
    }
    50% {
        top: -30px;
        left: 0;
    }
    100% {
        top: -20px;
        left: 0;
    }
}
/* khung background */
.border__frame{
    z-index: 20; 
    height: 100%;
}
.border-items .frame-top{
    top:0;
    left: 0;
    transform: scaleY(-1);
}
.border-items .frame-bottom{
    bottom: 0;
}
.border-items img{
    filter: drop-shadow(2px 2px 2px rgba(7, 14, 115, 0.6));
}

.diamond{
    display: flex;
    justify-content: space-around;
    transform-origin: top;
    top: -300px;
    animation: diamond_down 1s forwards;
    animation-delay: 2s;
    z-index: 999;
}
.diamond .box-image{
    display: flex;
}
.diamond .box-image .bg_diamond{
    width: 130px;
    margin: auto;
    height: auto;
    animation: diamond_anima 4s infinite linear;
    transform-origin: top;
    animation-delay: 3s;
    filter: drop-shadow(10px 10px 10px rgba(7, 7, 7,0.6));
}

@keyframes diamond_anima {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes diamond_down {
    0% {
        top: -300px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 5px;
    }
    100% {
        top: 10px;
    }
}  
/* box anima */
.diamond .box-content{
    position:absolute;
    display: flex;
    justify-content: space-around;
    min-width: 550px;
    height: 100px;
    padding-top: 52px;
}
.box-content .content-item{
    animation: diamond_anima 4s infinite linear;
    transform-origin: top;
    animation-delay: 3s;

}
.box-content .content-item p::before{
    content: '';
    width: 100%;
}
.box-content .content-item:nth-child(1) p::after{
    content: 'Chúc';
    animation:  textHappy1 10s 4s linear infinite;
    
}
.box-content .content-item:nth-child(2) p::after{
    content: 'Mừng';
    animation: textHappy2 10s 4s linear infinite;
}
.box-content .content-item:nth-child(3) p::after{
    content: 'Năm';
    animation: textHappy3 10s 4s linear infinite;
}
.box-content .content-item:nth-child(4) p::after{
    content: 'Mới';
    animation: textHappy4 10s 4s linear infinite;
}
.box-content .content-item:nth-child(1) p::after
,.box-content .content-item:nth-child(2) p::after
,.box-content .content-item:nth-child(3) p::after
,.box-content .content-item:nth-child(4) p::after{
    font-family: 'Water Brush', cursive;
    font-size: 27px;
    color: #ffe100;

}
@keyframes textHappy1{
    0%{
        content: 'Chúc';
    }
    33.333%{
        content: 'Vạn';
    }
    66.6667%{
        content: 'An';
    }
    100%{
        content: 'Chúc';
    }
}

@keyframes textHappy2{
    0%{
    content: 'Mừng';
    }
    33.333%{
    content: 'Sự';
    }
    66.6667%{
    content: 'Khang';
    }
    100%{
    content: 'Mừng';
    }
}

@keyframes textHappy3{
    0%{
    content: 'Năm';
    }
    33.333%{
    content: 'Như';
    }
    66.6667%{
    content: 'Thịnh';
    }
    100%{
    content: 'Năm';
    }
}
@keyframes textHappy4{
    0%{
    content: 'Mới';
    }
    33.333%{
    content: 'Ý';
    }
    66.6667%{
    content: 'Vượng';
    }
    100%{
    content: 'Mới';
    }
}

/*  lion dancing  */

.box__lion{
    display: flex;
    justify-content: space-around ;
    z-index: 100;
    top: 40%;
}
.box__lion img:nth-child(1){
    width: 300px;
    height: 250px;
    filter: drop-shadow(0px 10px 10px rgb(19, 19, 19));
}
.box__lion img:nth-child(2){
    width: 300px;
    height: 280px;
    filter: drop-shadow(0px 10px 10px rgb(19, 19, 19));
}

/* big circle center */
.box__circle-big{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.box__circle-big .circle_item-one{
    position: absolute;
    background: rgb(182, 1, 1);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 3px solid rgb(250, 246, 3);
    box-shadow: 1px -1px 30px 1px rgb(31, 1, 1);
    /* left: 50%;
    top: 50%; */
    z-index: 99;
}
.box__circle-big .circle_item-one img{
    /* position: absolute; */
    width: 50px;
}
.box__circle-big .circle_item-two{
    position: absolute;
    width: 320px;
    height: 320px;
    z-index: 100;

}

.circle_item-two::before{
    position: absolute;
    content: '';
    width: 320px;
    height: 320px;
    background-color: #930303;
    border-radius: 50%;
    /* z-index: 100; */
    box-shadow:  0px 0px 14px rgb(53, 5, 0);
}
 .circle_item-two img{
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: turn_around 20s linear infinite;
}
@keyframes turn_around {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

    